certifi==2020.12.5
chardet==4.0.0
click==8.0.0
colorama==0.4.4
configparser==5.0.2
cycler==0.10.0
DBUtils==2.0.1
idna==2.10
kiwisolver==1.3.1
matplotlib==3.4.2
numpy==1.21.0
Pillow==8.1.2
PyMySQL==1.0.2
pyparsing==2.4.7
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.1.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.4.3.0.3
python-dateutil==2.8.1
python-dotenv==0.17.1
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
requests==2.25.1
six==1.16.0
urllib3==1.26.4
